@{
  Layout = "_Layout";
}
<br>
<h1>Welcome</h1>
<br>
<p>You can use this application to:</p>
<hr>
<br>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Stylists</h3>
        <ul class="card-text">
          <li>View a list of all stylists</li>
          <li>Select a stylist, see their details, and see a list of all clients that belong to that stylist</li>
          <li>Add/Edit/Delete each stylist</li>
        </ul>
        <p>@Html.ActionLink("See all Stylists", "Index", "Stylists", null, new { @class = "btn btn-dark"})</p> 
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Clients</h3>
        <ul class="card-text">
          <li>View a list of all stylists</li>
          <li>Add new clients to a specific stylist (If no stylists have been added, you can not add a client)</li>
          <li> Add/Edit/Delete each client</li>
        </ul>
        <p>@Html.ActionLink("See all Clients", "Index", "Clients", null, new { @class = "btn btn-dark"})</p> 
      </div>
    </div>
  </div>
</div>





